.sllder-container {
    position: relative;
}



.slide {
    display: none;
    animation: fade 1.5s;
}

.slide:first-of-type {
    display: block;
}

.slide img {
    width: 100%;
}

.hero-heading {
    position: absolute;
    top: 47%;
    left: 47.67%;
    transform: translate(-50%, -100%);
    margin: 0;
    color: #ffffff;
    text-shadow: 0 0 5px #000000;
    font-size: 30px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    padding: 16px;
}

.next {
    right: 0;
}

.dots {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 16px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.dot:hover,
.slide-active {
    background-color: #777;
}



@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}